/* General Styling */

.App {
  text-align: center;
}

body {
  background-color: #191919;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Poppins';
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 10px 0px;
}

h2 {
  margin: 10px 0px;
}

h3 {
  font-size: 1.1rem;
  margin: 10px 0px;
}

/* Header and Navigation */

.nc-games-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.user-navigation {
  align-items: center;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user_login-link {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.5s;
}

.user_login-link:hover {
  color: rgb(127, 255, 178);
  transform: scale(1.1);
}

.app-title_link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.user-information {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: -10px;
}

.user-information p {
  margin: 10px;
}

.user-information_avatar {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 50px;
  margin: 15px;
  width: 50px;
}

.user-information_username {
  font-size: 18px;
}

.category-navigation {
  background-color: #191919;
  padding: 10px;
}

.category-link {
  color: whitesmoke;
  margin: 0 10px;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.category-link:hover {
  color: rgb(127, 255, 178);
}

.error-msg {
  margin: 20px;
}

/* Reviews */

.reviews-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  width: 90%
}

.reviews-container h2 {
  margin-top: 50px;
}

.reviews-container hr {
  width: 100%;
}

.reviews-container hr:first-of-type {
  display: none;
}

.reviews-container hr:last-of-type {
  display: none;
}

.review-card {
  flex-direction: column;
  margin: 20px;
}

.review-card_title {
  color: whitesmoke;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.review-card_title:hover {
  color: rgb(127, 255, 178);
}

.review-card_img {
  margin: 20px auto;
  width: 100%;
}

.review-card_statistics {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 10px;
  margin-top: -40px;
}

.review-card_statistics img{
  height: 16px;
  margin: 8px;
  width: 16px;
}

/* Review Page */

.review-page {
  margin-top: 15px;
  width: 100vw;
}

.review-page_img {
  width: 100%;
}

.review-page_content {
  text-align: left;
  margin: 0px auto;
  width: 90%;
}

.review-page_post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.review-page_post-content {
  padding: 8px;
}

.review-page_review-owner p {
  margin-bottom: 4px;
}

.review-page_review-statistics {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 10px;
}

.review-page_review-statistics img{
  height: 16px;
  margin: 8px;
  width: 16px;
}

.review-page_reactions {
  text-align: center;
}

.review-page_reactions button {
  margin: 10px 15px;
}

.review-page_reactions p {
  text-align: center;
}

.reaction-page_reaction {
  all: unset;
  background-image: url('../src/assets/thumbs-up.png');
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 3px;
  height: 30px;
  width: 30px;
}

.like:hover {
  transform: scale(1.2);
}

.reacted {
  background-image: url('../src/assets/thumbs-up-active.png');
}

.dislike {
  transform: rotate(180deg);
}

.dislike:hover {
  transform: rotate(180deg) scale(1.2);
}

/* ReviewPage - Comments */

.comment-date {
  font-size: 12px;
  font-weight: normal;
  color: rgb(207, 207, 207);
}

.comments-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments-container_list {
  text-align: left;  
  width: 90%;
}

.test hr:last-of-type {
  display: none;
}

.comment-container_item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.comment-container_item-details {
  width: 70%;
}

.comment-container_item-timestamp {
  margin-top: -15px;
}

.comment-container_statistics {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 15px;
}

.comment_reaction {
  all: unset;
  background-image: url('../src/assets/thumbs-up.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 3px;
  margin: 7px;
  height: 16px;
  width: 16px;
}

.comment-like:hover {
  transform: scale(1.2);
}

.reacted {
  background-image: url('../src/assets/thumbs-up-active.png');
}

.comment-dislike {
  transform: rotate(180deg);
}

.comment-dislike:hover {
  transform: rotate(180deg) scale(1.2);
}

.user-image {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.add-comment-form {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 90%;
}

.add-comment-btn {
  all: unset;
  background-color: rgb(127, 255, 178);
  border-radius: 25px;
  color: #191919;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

.add-comment-btn:hover {
  transform: scale(1.1);
  background-color: rgb(127, 255, 178);
}

.add-comment-btn:disabled {
  transform: none;
  background-color: gainsboro;
}

.add-comment-input {
  all: unset;
  color: whitesmoke;
  background-color: transparent;
  border-bottom: 2px solid whitesmoke;
  text-align: left;
  transition: 0.5s;
  margin: 0 10px;
  width: 75%;
}

.add-comment-input:focus {
  border-color: rgb(127, 255, 178);
}

/* Modal */

.modal {
  background-color: rgba(33, 33, 33, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.modal article{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 50% auto;
  max-width: 55%;
  padding: 20px;
}

.modal h3 {
  font-weight: normal;
  color: #191919;
}

/* login page */

.login-page {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-form {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 25px;
  color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px;
  padding: 30px;
  width: 50%;
}

.login-form label {
  margin-top: 20px;
}

.login-input {
  font-size: 1.2rem;
  width: 60%;
}

.login-btn {
  all: unset;
  background-color: #191919;
  border-radius: 25px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 10px 15px;
}

.login-btn:hover {
  background-color: rgb(127, 255, 178);
  color: #191919;
}

/* Media queries */

@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 1.6rem;
    margin: 10px 0px;
  }
  
  h2 {
    font-size: 2rem;
    margin: 25px 0px;
  }
  
  h3 {
    font-size: 1.3rem;
    margin: 10px 0px;
  }

  /* Navigation */

  .user-navigation {
    padding: 0px 25px;
  }

  .reviews-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90%
  }

  .category-link {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bolder;
  }

  .sort-btn_container {
    display: flex;
    flex-direction: row;
  }

  .sort-btn {
    all: unset;
    background-color: whitesmoke;
    border-radius: 25px;
    color: #191919;
    cursor: pointer;
    margin: 10px;
    padding: 10px 15px;
  }

  .sort-btn:hover {
    transform: scale(1.1);
  }

  .active {
    background-color: rgb(127, 255, 178);
  }
  
  .review-card {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
  }

  .review-card_details {
    margin-top: 20px;
    width: 55%;
  }

  .review-card_img {
    height: 30%;
    margin: 20px;
    width: 30%;
  }

  .review-card_statistics {
    font-size: 15px;
    margin-left: 120px;
  }
  
  .review-card_statistics img{
    height: 20px;
    margin: 11px;
    width: 20px;
  }

  /* Review Page */

  .review-page {
    margin: 15px auto;
    width: 75vw;
  }

  .review-page_img {
    margin: 15px 10%;
    width: 80%;
  }

  .review-page_content {
    text-align: left;
    margin: 0px auto;
    width: 90%;
  }

  .review-page_post-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
  }

  .review-page_post-content {
    padding: 8px;
  }

  .review-page_review-owner p {
    margin-bottom: 4px;
  }

  .review-page_review-statistics {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 10px;
  }

  .review-page_review-statistics img{
    height: 16px;
    margin: 8px;
    width: 16px;
  }

  .review-page_reactions {
    text-align: center;
  }

  .review-page_reactions button {
    margin: 10px 15px;
  }

  .review-page_reactions p {
    text-align: center;
  }

  .add-comment-btn {
    all: unset;
    background-color: rgb(127, 255, 178);
    border-radius: 25px;
    color: #191919;
    font-size: 16px;
    padding: 10px;
  }

  /* Modal */

  .modal article{
    margin: 22% auto;
    max-width: 25%;
  }
}